<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
  </head>
  <body>
    {% for Team, data in Teams.items %} {% if name == Team %}
    <h1>Hello, {{data.name}}</h1>
    <li>{{data.name}}</li>
    <h2>Description</h2>
    <p>{{data.description}}</p>
    <h2>Members</h2>
    <ul>
      {% for member in data.members %}
      <li>{{member}}</li>
    </ul>
    {% endfor %} {% endif %}{% endfor %}
  </body>
</html>
