<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
  </head>
  <body>
    <h1>Management Team</h1>
    <p>
      A select few members of Base Camp who are tasked with keeping inventory,
      doing laundry, assigning chores, checking off chores, as well as keeping
      members of Base Camp on task.
    </p>
  </body>
</html>
